* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Mont';
}

input {
  outline: none;

  background: none;
  border: none;
}

button {
  border: none;
  background: none;

  cursor: pointer;
}

li {
  list-style-type: none;
}

:root {
  --mt-green: #00ab6d;
  --mt-dark-green: #0C8458;
  --mt-light-green: #1CCA8B;
  --mt-blue: #2980ba;
  --mt-black: #212628;
  --mt-white: #ffffff;
  --mt-background: #EBF6FF;
  --mt-light-grey: #9bbbd9; 
}

.scrollOff {
  overflow: hidden;
}

.mt-menu {
  font-size: 14px;
  font-weight: 600;

  color: var(--mt-black);
}

.mt-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;

  opacity: 0.6;

  color: var(--mt-black);
}

.mt-text-bold {
  font-size: 16px;
  font-weight: 600;

  color: var(--mt-black);
}

.mt-text-small {
  font-size: 10px;
  font-weight: 400;

  color: var(--mt-black);
}

.mt-h1 {
  font-size: 52px;
  font-weight: 600;

  color: var(--mt-black);
}

.mt-h2 {
  font-size: 35px;
  font-weight: 600;

  line-height: 110%;

  color: var(--mt-black);
}

.mt-h3 {
  font-size: 20px;
  font-weight: 600;

  line-height: 120%;

  color: var(--mt-black);
}

.mt-button,
.mt-round-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  
  color: var(--mt-white);
}

.mt-button {
  color: var(--mt-green);

  transition: color .3s;
}

.mt-button:hover {
  color: var(--mt-dark-green);
}

.mt-button:active {
  color: var(--mt-light-green);
}

.mt-round-button {
  background-color: var(--mt-green);

  border-radius: 100px;

  padding: 20px 40px;

  transition: background-color .3s;
}

.mt-round-button:hover {
  background-color: var(--mt-dark-green);
}

.mt-round-button:active {
  background-color: var(--mt-light-green);
}

a {
  text-decoration: none;

  cursor: pointer;

  transition: color .3s;
}

a:hover {
  color: var(--mt-green);
}

.container {
  max-width: 1600px;

  padding: 0 45px;
  margin: 0 auto;
}

.separator-dotted {
  opacity: 0.1;
  border: 1px dashed #2980BA;
}

/* ******** MODALS ******** */

.expectation-modal-container,
.application-modal-container {
  display: grid;
  
  position: fixed;

  visibility: hidden;

  justify-content: center;
  align-items: center;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(10, 10, 10, .5);
  backdrop-filter: blur(15px);

  opacity: 0;

  z-index: 9999;

  transition: all .3s;
}

.expectation-modal-wrapper,
.application-modal-wrapper {
  position: relative;

  max-width: 430px;

  background-color: var(--mt-white);

  padding: 70px 40px 50px 40px;

  border-radius: 10px;
}

.expectation-modal-close-button,
.application-modal-close-button {
  position: absolute;

  top: 20px;
  right: 20px;

  cursor: pointer;

  transition: fill .3s;
}

.expectation-modal-close-button:hover,
.application-modal-close-button:hover {
  fill: var(--mt-dark-green);
}

.expectation-modal-typography-title,
.application-modal-typography-title {
  margin-bottom: 8px;
}

.application-modal-typography {
  margin-bottom: 50px;
}

.application-form-inputs-wrapper {
  display: grid;

  row-gap: 15px;
  
  margin-bottom: 15px;
}

.application-form-button {
  width: 100%;

  margin-top: 35px;
}

.application-input-wrapper {
  display: grid;

  grid-auto-flow: column;

  grid-template-columns: max-content;

  align-items: center;

  column-gap: 15px;

  min-height: 60px;

  border: 1px solid var(--mt-light-grey);
  border-radius: 100px;

  padding: 16px 20px;
}

.application-checkbox-wrapper {
  display: grid;

  grid-auto-flow: column;

  column-gap: 10px;

  max-width: 290px;

  margin: 0 auto;
}

.application-checkbox,
.payment-checkbox {
  position: relative;

  appearance: none;

  border: 1px solid var(--mt-light-grey);
  border-radius: 50%;

  width: 16px;
  height: 16px;

  cursor: pointer;
}

.application-checkbox::before,
.payment-checkbox::before {
  content: '';

  position: absolute;

  width: 8px;
  height: 8px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--mt-green);

  border-radius: 50%;

  opacity: 0;

  transition: opacity .2s ease-in-out;
} 

.application-checkbox:checked::before,
.payment-checkbox:checked::before {
  opacity: 1;
}

.modal-opened {
  visibility: visible;

  opacity: 1;
}

/* ******** HEADER ******** */

.header-container {
  display: grid;

  grid-template-columns: minmax(min-content, 235px) 1fr;

  align-items: end;
  padding: 16px 0;
  margin-bottom: 110px;
}

.header-navigation-container {
  display: flex;

  height: max-content;;

  align-items: center;
  justify-content: space-between;
}

.header-navigation-mobile {
  display: none;
}

.header-navigation-list {
  display: grid;

  height: max-content;
  grid-auto-flow: column;
  column-gap: 40px;

  align-items: center;
}

.header-navigation-list.right {
  grid-template-columns: auto auto auto 40px;
}

.header-navigation-list.right .header-navigation-item .signin,
.mobile-navigation-list.top, .mobile-navigation-item .signin {
  color: var(--mt-green);
}

.header-navigation-list.right .header-navigation-item .slash,
.mobile-navigation-list.top, .mobile-navigation-item .slash {
  color: var(--mt-light-grey);
}

.header-navigation-item.telegram,
.header-navigation-item.language {
  display: grid;

  grid-auto-flow: column;

  column-gap: 5px;

  align-items: center;
}

.header-typography-telegram {
  line-height: 14px;
  color: #1299f2;
}

.header-typography-telegram:hover {
  color: #1299f2;
}

.header-logo {
  width: 135px;
  max-height: 30px;
}

.header-burger {
  display: none;
  justify-content: end;
}

.header-language-button {
  color: var(--mt-black);

  font-size: 14px;
}

.header-navigation-item.language,
.mobile-navigation-item.language {
  position: relative;
}

.dropdown-icon {
  transition: fill .3s;
}

.header-navigation-item.language:hover .dropdown-icon,
.mobile-navigation-item.language:hover .dropdown-icon {
  fill: var(--mt-green);
}

.header-navigation-item.language:hover .header-language-button,
.mobile-navigation-item.language:hover .header-language-button {
  color: var(--mt-green);
}

.header-navigation-item.language:hover .header-language-menu,
.mobile-navigation-item.language:hover .header-language-menu {
  visibility: visible;

  opacity: 1;
}

.header-language-menu {
  visibility: hidden;

  display: grid;

  position: absolute;

  row-gap: 5px;

  padding: 10px 12px;

  border: 1px solid var(--mt-light-grey);
  border-radius: 10px;

  left: 50%;
  top: 19px;

  transform: translate(-50%);

  transition: all .3s ease-in-out;

  opacity: 0;
}

/* ******** MAIN ******** */

.main-container {
  max-width: 1200px;

  margin: 0 auto;
}

/* ******** INTRO ******** */

.intro-container {
  display: grid;

  grid-template-columns: 750px minmax(min-content, 320px);

  column-gap: 70px;

  grid-template-areas: 'intro-title intro-subtitle';

  margin-bottom: 130px;
}

.intro-title {
  grid-area: intro-title;
}

.intro-title-mobile {
  grid-area: intro-title;

  display: none;
}

.intro-subtitle {
  grid-area: intro-subtitle;
}

.intro-button {
  margin-top: 35px;
}

.intro-cards-container {
  display: grid;

  grid-auto-flow: column;

  justify-content: center;

  column-gap: 50px;
  margin-bottom: 100px;
}

.intro-card-item {
  max-width: 360px;
}

.intro-card-typography {
  display: grid;

  grid-template-columns: 230px minmax(min-content, max-content);

  justify-content: space-between;

  margin-bottom: 40px;
}

.intro-card-line {
  display: block;

  min-width: 4px;
  height: 40px;

  background-color: var(--mt-blue);

  margin-right: 20px;
}

.intro-title-wrapper {
  display: grid;

  justify-content: space-between;

  grid-template-columns: repeat(1, minmax(min-content, max-content)) 205px;
}

.intro-card-icon {
  display: none;

  margin-right: 30px;
}

.intro-card-ordinal {
  text-align: right;

  opacity: 0.15;
}

.intro-card-image {
  width: 100%;
}

/* ******** TRUST ******** */

.trust-container {
  position: relative;

  padding: 70px 65px;
  margin-bottom: 100px;

  border: 1px solid #9bbbd940;
  border-radius: 15px;
}

.trust-images-wrapper {
  display: grid;

  justify-content: space-between;
  align-items: center;

  grid-template-areas: 'trust-image-mailru trust-image-odnoklassniki trust-image-vkontakte trust-image-backit trust-image-kazanexpress';
}

.trust-typography-title {
  position: absolute;

  width: max-content;

  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--mt-light-grey);
  background-color: var(--mt-white);

  padding: 0 25px;
}

.trust-image.mailru {
  grid-area: trust-image-mailru;

  width: 135px;
}

.trust-image.odnoklassniki {
  grid-area: trust-image-odnoklassniki;

  width: 185px;
}

.trust-image.vkontakte {
  grid-area: trust-image-vkontakte;

  width: 150px;
}

.trust-image.backit {
  grid-area: trust-image-backit;

  width: 90px;
}

.trust-image.kazanexpress {
  grid-area: trust-image-kazanexpress;

  width: 165px;
}

.legally-container,
.video-container,
.payment-container {
  position: relative;

  background: url('./assets/images/LegallyCurcle.png');
  background-color: var(--mt-background);

  background-repeat: no-repeat;

  border-radius: 25px;

  padding: 80px 90px;

  margin-bottom: 180px;
}

/* ******** LEGALLY ******** */

.legally-container {
  background-position-y: center;
  background-position-x: 95%;
}

.legally-typography-title span {
  color: var(--mt-green);
}

.legally-typography-title {
  margin-bottom: 20px;
}

.legally-cards-wrapper {
  position: absolute;

  right: 150px;
  top: 40px;
}

.legally-card-image,
.video-player-image {
  border-radius: 10px;
  box-shadow: 0px 4px 54px rgba(103, 137, 169, 0.25);
}

.legally-card-image.first {
  position: absolute;

  width: 218px;

  right: 105px;
  top: 55px;
}

.legally-card-image.second {
  position: relative;

  width: 218px;
}

.legally-typography-subtitle {
  margin-bottom: 60px;
}

.legally-download-button {
  display: grid;

  grid-auto-flow: column;

  grid-template-columns: auto;

  width: fit-content;

  column-gap: 10px;

  align-items: center;
}

.download-icon {
  transition: fill .3s;
}

.legally-download-button:hover .download-icon {
  fill: var(--mt-dark-green);
}

.legally-download-button:active .download-icon {
  fill: var(--mt-light-green);
}

/* ******** FIT ******** */

.fit-container {
  margin-bottom: 150px;
}

.fit-list {
  display: grid;

  justify-content: space-between;

  grid-template-columns: repeat(2, 510px);

  row-gap: 50px;
}

.fit-item {
  display: flex;
}

.fit-icon-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #ebf6ff;

  margin-right: 45px;

  height: 90px;
  min-width: 90px;

  border-radius: 20px;
}

.fit-typography {
  display: flex;

  flex-direction: column;
}

.fit-title {
  width: 375px;

  text-align: center;

  margin: 0 auto 75px auto;
}

.fit-typography-title {
  margin-bottom: 12px;
}

/* ******** VIDEO ******** */

.video-container {
  background-position-y: center;
  background-position-x: 92.5%;
}

.video-typography,
.legally-typography {
  display: grid;

  grid-template-columns: 400px;

  grid-auto-flow: row;
}

.video-player {
  position: absolute;
  width: max-content;
  height: max-content;

  bottom: 40px;
  right: 80px;
}

.video-playContainer {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 120px;

  transform: translate(calc(-50% + 5px), calc(-50% + 10px));
}

.video-player-image {
  width: 460px;
}

.video-typography-title {
  margin-bottom: 12px;
}

/* ******** CALCULATOR ******** */

.calculator-container {
  margin-bottom: 180px;
}

.calculator-typography {
  margin-bottom: 70px;
}

.calculator-typography-title {
  max-width: 555px;
  width: 100%;
}

/* ******** SLIDER ******** */
.calculator-slider {
  display: block;
  -webkit-appearance: none;
  background-color: #E9E9E9;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: 0;
}

.calculator-slider:active {
	cursor: grabbing;
}

.calculator-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #2980BA;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.calculator-slider::-webkit-slider-thumb:hover {
  width: 19px;
  height: 19px;
  border: 4px solid white;
}
.calculator-slider::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: #2980BA;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.calculator-slider::-moz-range-thumb:hover {
  width: 19px;
  height: 19px;
  border: 4px solid white;
}
.calculator-slider::-ms-thumb {
  -webkit-appearance: none;
  background-color: #2980BA;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.calculator-slider::-ms-thumb:hover {
  width: 19px;
  height: 19px;
  border: 4px solid white;
}

/* ******** SLIDER END ******** */

.calculator-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 120px;
}

.calculator-sliders-item {
  margin-bottom: 55px;
}

.calculator-sliders-item:first-child {
  display: flex;
  align-items: end;
}

.calculator-sliders-item:first-child > * {
  width: 100%;
}

.calculator-sliders-item-value {
  margin: 9px 0 18px 0;
}

.calculator-sliders-vat-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.calculator-sliders-toggle {
  width: 120px;
  flex:none;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid rgba(33, 38, 40, 0.1);
  border-radius: 100px;
  cursor: pointer;
}

.calculator-sliders-vat-wrapper .calculator-sliders-toggle {
  margin-right: 22px;
}

.calculator-sliders-item .calculator-sliders-toggle {
  width: 140px;
  margin-left: 20px;
}

.calculator-sliders-toggle span {
  color: var(--mt-black);
  opacity: 0.5;
}

.calculator-sliders-toggle [data-active="true"] {
  color: var(--mt-blue);
  opacity: 1;
}

.calculator-allResults {
  display: grid;
}

.calculator-common-results {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 60px;
}

.calculator-common-results-item {
  display: flex;
}

.calculator-common-results-item:not(:last-child) {
  margin-bottom: 4px;
}

.calculator-common-results-item > *:first-child {
  width: 80px;
}

.calculator-results-block {
  position: relative;
  background-color: var(--mt-background);
  border-radius: 25px;
}

.calculator-result {
  padding: 50px 60px 41px 60px;
}

.calculator-sumAndVat {
  display: flex;
}

.calculator-result-sum {
  color: var(--mt-green);
}

.calculator-sum-ruble {
  width: max-content;
  margin: 0 19px 0 10px;
  height: 22px;
  border-bottom: 1px dashed var(--mt-green);
  color: var(--mt-green);
}

.calculator-vat {
  opacity: 0.5;
}

.calculator-profit {
  padding: 35px 60px 38px 60px;
  display: flex;
}

.calculator-profit >*:first-child {
  margin-right: 73px;
}

/* ******** PAYMENT ******** */

.payment-container {
  position: static;

  background-position-x: 115%;
  background-position-y: center;
}

.payment-typography {
  margin-bottom: 50px;
}

.payment-typography-title {
  width: 575px;

  margin-bottom: 15px;
}

.payment-typography-title span {
  color: var(--mt-green);
}

.payment-form {
  display: grid;

  grid-template-columns: repeat(3, minmax(min-content, 265px));
  grid-template-rows: 60px;

  column-gap: 15px;
  margin-bottom: 15px;
}

.payment-input-wrapper {
  display: grid;

  grid-auto-flow: column;

  grid-template-columns: max-content;

  align-items: center;

  column-gap: 15px;

  border: 1px solid var(--mt-light-grey);
  border-radius: 100px;

  padding: 16px 20px;
}

.payment-checkbox-wrapper {
  display: grid;

  grid-auto-flow: column;

  grid-template-columns: max-content;

  align-items: center;

  column-gap: 10px;

  margin-left: 25px;
}

/* ******** PROS ******** */

.pros-title {
  width: 400px;

  text-align: center;

  margin: 0 auto 75px auto;
}

.pros-cards {
  display: grid;

  grid-auto-flow: column;

  column-gap: 25px;
}

.pros-card-title {
  margin-bottom: 15px;
}

.pros-card-item {
  display: grid;
  justify-content: center;

  grid-template-rows: 200px;

  border: 1px solid #9bbbd940;
  border-radius: 15px;

  max-width: 380px;

  padding: 40px;
}

.pros-card-image {
  margin: 0 auto;
}

.pros-card-image.api {
  width: 225px;
}

.pros-card-image.client-service {
  width: 205px;
}

.pros-card-image.tariffs {
  width: 128px;
}

.pros-card-subtitle-green {
  color: var(--mt-green);
}

/* ******** FOOTER ******** */

.footer-container {
  display: grid;

  grid-template-columns: minmax(min-content, 810px) minmax(min-content, 490px);

  justify-content: space-between;

  margin: 200px 0 20px 0;
}

.footer-block {
  display: grid;
}

.footer-block.left {
  grid-template-areas:
    'footer-brand footer-brand'
    'footer-copyright footer-navigation';

  grid-template-columns: minmax(min-content, 285px) minmax(min-content, 435px);

  row-gap: 125px;

  justify-content: space-between;
}

.footer-block.right {
  grid-template-areas: 'footer-contacts';
}

.footer-payment-methods {
  display: grid;

  grid-auto-flow: column;

  align-items: center;

  width: max-content;

  padding: 20px 30px;
  column-gap: 20px;

  border: 1px solid var(--mt-light-grey);
  border-radius: 15px;
}

.footer-payment-qiwi {
  width: 24px;
}

.footer-payment-webmoney {
  width: 22px;
}

.footer-payment-mastercard {
  width: 26px;
}

.footer-payment-yoomoney {
  width: 27px;
}

.footer-payment-ton {
  width: 25px;
}

.footer-payment-visa {
  width: 40px;
}

.footer-payment-mir {
  width: 52px;
}

.footer-brand {
  display: grid;

  grid-area: footer-brand;

  grid-template-areas:
    'footer-logo footer-logo'
    'footer-title footer-payment-methods';

  grid-template-columns: minmax(min-content, 285px) minmax(min-content, 435px);

  row-gap: 25px;

  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  grid-area: footer-logo;

  width: 160px;
}

.footer-title {
  grid-area: footer-title;
}

.footer-payment-methods {
  grid-area: footer-payment-methods;

  max-height: 70px;
}

.footer-copyright {
  grid-area: footer-copyright;
}

.footer-navigation {
  grid-area: footer-navigation;
}

.footer-navigation,
.footer-copyright {
  display: grid;

  grid-auto-flow: column;

  width: max-content;
}

.footer-navigation {
  column-gap: 50px;
}

.footer-copyright {
  column-gap: 15px;
}

.footer-contacts {
  grid-area: footer-contacts;
}

.footer-contact-list {
  display: grid;

  row-gap: 25px;

  padding: 20px 0 10px 96px;

  border-left: 1px solid var(--mt-light-grey);
}

.footer-contact-item {
  display: grid;

  grid-template-columns: repeat(2, minmax(min-content, max-content));

  column-gap: 15px;
}

.footer-block.right .footer-navigation {
  display: none;
}

@media only screen and (max-width: 1440px) {
  /* ******** HEADER ******** */

  .header-container {
    grid-template-columns: minmax(min-content, 175px) 1fr;
  }

  .header-navigation-list.left,
  .header-navigation-list.right {
    column-gap: 25px;
  }

  /* ******** FOOTER ******** */

  .footer-contact-list {
    padding: 20px 0 10px 50px;
  }
}

@media only screen and (max-width: 1024px) {
  /* ******** TRUST ******** */

  .trust-container {
    padding: 60px 25px;
  }

  .trust-image.mailru {
    width: 90px;
  }

  .trust-image.odnoklassniki {
    width: 125px;
  }

  .trust-image.vkontakte {
    width: 100px;
  }

  .trust-image.backit {
    width: 60px;
  }

  .trust-image.kazanexpress {
    width: 110px;
  }
}

@media only screen and (max-width: 1200px) {
  .mt-h1 {
    font-size: 35px;
  }

  .mt-h2 {
    font-size: 30px;
  }

  .container {
    padding: 0 40px;
  }

  .header-logo {
    width: 109px;
  }

  /* ******** HEADER ******** */

  .header-navigation-container {
    justify-content: flex-end;
  }

  .header-navigation-list.left {
    display: none;
  }

  .header-navigation-list.right {
    column-gap: 25px;

    align-items: center;
  }

  .header-burger {
    display: grid;

    align-items: center;
  }

  .burger-icon {
    position: relative;

    width: 40px;
    height: 12px;

    cursor: pointer;
  }

  .burger-icon:hover span {
    background-color: var(--mt-dark-green);
  }

  .burger-icon span {
    display: block;

    position: absolute;

    width: 100%;
    height: 3px;

		background-color: var(--mt-green);
		border-radius: 1px;

    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }

  .burger-icon.menu-active {
    width: 20px;
  }

  .burger-icon span:first-of-type {
    top: 0;
  }

  .burger-icon span:last-of-type {
    right: 0;
    bottom: 0;

    width: 20px;
  }

  .burger-icon.menu-active:hover span {
    background-color: var(--mt-dark-green);
  }

  .burger-icon.menu-active span:first-of-type {
    transform: rotate(-45deg);

    top: 5px;

    height: 2px;
    width: 24px;
  }

  .burger-icon.menu-active span:last-of-type {
    transform: rotate(45deg);

    bottom: 5px;
    right: auto;

    height: 2px;
    width: 24px;
  }

  .header-navigation-mobile {
    display: block;
    
    background-color: var(--mt-white);
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.15);
    
    border-radius: 0 20px 20px 0;

    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 300px;

    transform: translateX(-200%);
    transition: transform .5s ease-in-out;

    z-index: 100;
  }

  .mobile-navigation-wrapper {
    display: grid;

    row-gap: 40px;
  }

  .mobile-menu-logo {
    width: 92px;

    margin: 10px 0 0 15px
  }

  .mobile-navigation-list {
    margin-left: 35px;
  }

  .mobile-navigation-list.top {
    display: grid;
  }

  .mobile-navigation-list.bottom {
    display: none;
  }
  
  .mobile-navigation-list.top,
  .mobile-navigation-list.bottom {
    row-gap: 40px;
  }

  .mobile-navigation-item {
    width: fit-content;
  }

  .mobile-navigation-item.whom,
  .mobile-navigation-item.telegram,
  .mobile-navigation-item.language {
    display: grid;

    grid-auto-flow: column;

    align-items: center;

    column-gap: 5px;
  }
  
  .mobile-navigation-item.language  {
    grid-area: mobile-item-language;
  }

  .mobile-navigation-item.auth {
    grid-area: mobile-item-auth;
  }

  .mobile-navigation-item.phone {
    grid-area: mobile-item-phone;
  }

  .menu-active {
    transform: translateX(0);
  }

  /* ******** INTRO ******** */

  .intro-container {
    grid-template-columns: minmax(min-content, 505px);

    grid-template-areas:
      'intro-title'
      'intro-subtitle';

    margin-bottom: 85px;
  }

  .intro-title {
    display: none;
  }

  .intro-title-mobile {
    display: block;

    margin-bottom: 20px;
  }

  .intro-cards-container {
    column-gap: 20px;
  }

  .intro-card-ordinal {
    display: none;
  }

  /* ******** FIT ******** */

  .fit-container {
    margin-bottom: 100px;
  }

  .fit-title {
    width: 330px;

    margin-bottom: 45px;
  }

  .fit-list {
    grid-template-columns: auto;

    row-gap: 35px;
  }

  .fit-icon-wrapper {
    margin-right: 25px;
  }

  /* ******** LEGALLY ******** */

  .legally-container {
    background-position-x: 385px;
    background-position-y: center;
  }

  .legally-cards-wrapper {
    right: 25px;
    top: 25px;
  }

  .legally-card-image.first {
    width: 165px;

    right: 80px;
    top: 40px;
  }

  .legally-card-image.second {
    width: 165px;
  }

  .legally-typography-title {
    margin-bottom: 12px;
  }

  .legally-typography-subtitle {
    margin-bottom: 24px;
  }

  .legally-container,
  .video-container,
  .payment-container {
    padding: 60px 50px;
  }

  /* ******** VIDEO-PLAYER ******** */

  .video-container {
    background-position-x: 600px;
  }

  .video-typography,
  .legally-typography {
    grid-template-columns: 330px;
  }

  .video-player {
    right: -20px;
    top: -20px;
  }

  .video-player-image {
    width: 340px;
  }

  /* ******** CALCULATOR ******** */

  .calculator-container {
    margin-bottom: 100px;
  }

  .calculator-typography {
    margin-bottom: 35px;
  }

  .calculator-form {
    grid-template-columns: unset;
    column-gap: unset;
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .calculator-sliders {
    margin-bottom: 44px;
  }

  .calculator-sliders-item {
    margin-bottom: 40px;
  }

  .calculator-sliders-item-value {
    margin: 3px 0 18px 0;
  }

  .calculator-allResults {
    grid-template-rows: 40px 260px;
  }

  .calculator-common-results {
    margin: 0 0 12px 12px;
    flex-direction: row;
  }

  .calculator-common-results-item {
    height: max-content;
  }

  .calculator-common-results-item:not(:last-child) {
    margin-right: 60px;
  }

  .calculator-result, .calculator-profit {
    padding: 40px;
  }

  /* ******** PAYMENT ******** */

  .payment-container {
    background-image: none;
    background-size: auto;

    margin-bottom: 100px;
  }

  .payment-form {
    grid-template-columns: repeat(2, minmax(min-content, 205px)) 225px;

    column-gap: 10px;
  }

  .payment-input-wrapper svg {
    min-width: 24px;
  }

  .payment-input {
    width: 100%;
  }

  .payment-button.mt-round-button {
    padding: 20px 25px;
  }

  .payment-term {
    font-size: 10px;
  }

  /* ******** PROS-CARDS ******** */

  .pros-title {
    width: 340px;

    margin-bottom: 35px;
  }

  .pros-cards {
    grid-auto-flow: row;

    row-gap: 15px;
  }

  .pros-card-item {
    grid-auto-flow: column;

    grid-template-columns: 230px 350px;
    grid-template-rows: 160px;

    justify-content: space-between;
    align-items: center;

    max-width: 100%;
  }

  /* ******** FOOTER ******** */

  .footer-container {
    grid-template-columns: 1fr;

    row-gap: 10px;

    margin-top: 100px;
  }

  .footer-block.left .footer-navigation {
    display: none;
  }

  .footer-block.right .footer-navigation {
    display: grid;
  }

  .footer-block.left {
    grid-template-areas:
      'footer-brand footer-brand'
      'footer-copyright footer-copyright';
  }

  .footer-block.right {
    grid-template-areas:
      'footer-contacts'
      'footer-navigation';
  }

  .footer-block.left {
    row-gap: 60px;
  }

  .footer-block.right {
    row-gap: 65px;
  }

  .footer-contact-list {
    padding: 50px 0 0 0;

    border-top: 1px solid var(--mt-light-grey);
    border-left: none;
  }

  .footer-contact-item.email {
    grid-column-start: 2;
  }
}

@media only screen and (max-width: 834px) {
  .mt-h1,
  .mt-h2 {
    font-size: 25px;
  }

  .container {
    padding: 0 15px;
  }

  .legally-container,
  .video-container,
  .payment-container {
    padding: 35px 25px;
  }

  /* ******** MODALS ******** */

  .expectation-modal-container,
  .application-modal-container {
    padding: 0 15px;
  }

  /* ******** HEADER ******** */

  .header-container {
    grid-template-columns: minmax(min-content, max-content) 1fr;

    margin-bottom: 50px;
  }

  .header-navigation-list.right {
    grid-template-columns: auto 40px;
  }

  .header-navigation-list.right .header-navigation-item:first-child,
  .header-navigation-list.right .header-navigation-item:nth-child(2) {
    display: none;
  }

  .header-logo {
    width: 92px;
  }

  /* ******** INTRO ******** */

  .intro-container {
    margin-bottom: 60px;
  }

  .intro-cards-container {
    justify-content: start;

    grid-auto-flow: row;

    row-gap: 25px;

    margin-bottom: 60px;
  }

  .intro-title-wrapper {
    grid-template-columns: repeat(2, minmax(min-content, max-content)) 205px;
  }

  .intro-card-typography {
    grid-template-columns: auto;

    margin-bottom: 0;
  }

  .intro-card-image {
    display: none;
  }

  .intro-card-icon {
    display: block;

    height: 30px;
    width: 30px;

    margin-top: 2px;
  }

  .intro-card-line {
    opacity: 0.12;
  }

  .intro-button {
    margin-top: 60px;
  }

  /* ******** TRUST ******** */

  .trust-container {
    margin-bottom: 60px;
  }

  .trust-images-wrapper {
    grid-template-areas:
      'trust-image-vkontakte trust-image-odnoklassniki'
      'trust-image-mailru trust-image-kazanexpress'
      'trust-image-backit trust-image-backit';

    row-gap: 40px;
  }

  .trust-image.backit {
    margin: 0 auto;
  }

  /* ******** LEGALLY ******** */

  .legally-container {
    min-height: 490px;

    margin-bottom: 150px;

    background-image: none;
  }

  .legally-typography {
    grid-template-columns: auto;
  }

  .legally-cards {
    position: relative;
  }

  .legally-cards-wrapper {
    position: absolute;

    width: 245px;

    left: 50%;
    transform: translate(-50%);

    top: 50px;
    right: 0;
  }

  .legally-card-image.first {
    position: absolute;

    right: 80px;
    top: 40px;
  }

  .legally-card-image.second {
    position: absolute;

    top: 0;
    right: 0;
  }

  .legally-typography-title {
    margin-bottom: 15px;
  }

  .legally-typography-subtitle {
    margin-bottom: 30px;
  }

  /* ******** FIT ******** */

  .fit-icon-wrapper {
    height: 64px;
    min-width: 64px;

    margin-right: 20px;
  }

  .fit-title {
    width: 265px;

    text-align: left;

    margin-bottom: 35px;
  }

  .fit-icon-wrapper svg {
    height: 24px;
    width: 24px;
  }

  /* ******** VIDEO ******** */

  .video-container {
    min-height: 320px;

    margin-bottom: 160px;

    background-image: none;
  }

  .video-typography {
    grid-template-columns: auto;
  }

  .video-player {
    top: 200px;
    left: 50%;
  
    transform: translate(-50%);
  }

  .video-player-image {
    width: 285px;
  }

  /* ******** CALCULATOR ******** */

  .calculator-allResults {
    grid-auto-rows: auto;
    grid-template-rows: min-content;
  }

  .calculator-results-block {
    height: max-content;
  }

  .calculator-common-results {
    flex-direction: column;
  }
  
  .calculator-result {
    padding: 25px;
  }

  .calculator-profit {
    padding: 25px;
    flex-direction: column;
  }

  .calculator-profit >*:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .calculator-common-results-item:not(:last-child) {
    margin-right: 0;
  }


  /* ******** PAYMENT ******** */

  .payment-container {
    margin-bottom: 100px;
  }

  .payment-form {
    grid-template-columns: 1fr;

    row-gap: 15px;
  }

  .payment-typography-title {
    width: fit-content;
  }

  .payment-checkbox-wrapper {
    align-items: flex-start;

    margin-left: 0;
  }

  /* ******** PROS ******** */

  .pros-title {
    width: 285px;
  }

  .pros-card-item {
    grid-auto-flow: row;

    grid-template-columns: minmax(min-content, 280px);
    grid-template-rows: 200px;

    justify-content: center;

    row-gap: 32px;

    padding: 40px 30px;
  }

  /* ******** FOOTER ******** */

  .footer-container {
    margin-top: 125px;
  }

  .footer-block.left {
    grid-template-areas:
      'footer-brand'
      'footer-copyright';

    row-gap: 40px;
  }

  .footer-block.left,
  .footer-brand {
    grid-template-columns: auto;
  }

  .footer-block.right {
    row-gap: 48px;
  }

  .footer-block.right .footer-navigation {
    grid-auto-flow: row;

    row-gap: 10px;
  }

  .footer-brand {
    grid-template-areas:
      'footer-logo'
      'footer-title'
      'footer-payment-methods';
  }

  .footer-contact-list {
    row-gap: 20px;
  }

  .footer-contact-item.email {
    grid-column-start: auto;
  }

  .footer-payment-methods {
    width: auto;

    padding: 15px 25px;

    column-gap: normal;

    justify-content: space-between;
  }

  .footer-payment-qiwi {
    width: 21px;
  }

  .footer-payment-webmoney {
    width: 20px;
  }

  .footer-payment-yoomoney {
    width: 24px;
  }

  .footer-payment-visa {
    width: 43px;
  }

  .footer-payment-mastercard {
    width: 25px;
  }

  .footer-payment-mir {
    width: 47px;
  }
}

@media only screen and (max-width: 425px) {

  /* ******** MODALS ******** */

  .expectation-modal-wrapper,
  .application-modal-wrapper {
    padding: 70px 20px 50px 20px;
  }

  .expectation-modal-container,
  .application-modal-container {
    padding: 0;
  }

  .application-modal-container {
    align-items: flex-end;
  }

  .application-modal-wrapper {
    border-radius: 10px 10px 0 0;
  }

  .application-form-button {
    padding: 20px 20px;
  }

  /* ******** HEADER ******** */

  .mobile-navigation-list.bottom {
    display: grid;

    grid-template-areas:
    "mobile-item-auth mobile-item-auth"
    "mobile-item-phone mobile-item-language";
  }

  .mobile-navigation-separator {
    border-top: 1px solid var(--mt-light-grey);
  }

  /* ******** CALCULATOR ******** */

  .calculator-common-results {
    margin: 0 0 12px 0;
  }

  /* ******** FOOTER ******** */

  .footer-payment-methods {
    padding: 15px 20px;
  }

  .footer-payment-qiwi {
    width: 20px;
  }
  
  .footer-payment-webmoney {
    width: 20px;
  }
  
  .footer-payment-mastercard {
    width: 25px;
  }
  
  .footer-payment-yoomoney {
    width: 27px;
  }
  
  .footer-payment-ton {
    width: 22px;
  }
  
  .footer-payment-visa {
    width: 40px;
  }
  
  .footer-payment-mir {
    width: 48px;
  }
}
